/* ******* */
/* Teljes oldal dizájnja */
/* ******* */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Kumbh Sans', sans-serif;
}

/* ******* */
/* Navbar dizájnja */
/* ******* */

.navbar {
    background-color: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem; /* 1rem = 16px */
    position: sticky;
    top: 0px;
    z-index: 999; /* minden felett lesz a navbar */
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    z-index: 1;
    max-width: 1300px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 50px;
    padding-right: 50px;
}

/* "ByteBloom" szöveg a navbarban */
#navbar-logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ff8177 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

/* Logo a "ByteBloom" szögveg alatt */
.navbar-logo-png {
    margin-right: 0.5rem;
}

.navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

/* oldalak listaelemei a navbarban */
.navbar-item {
    height: 80px;
}

/* oldalakra mutató hivatkozások a navbarban */
.navbar-link {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100%;
    transition: all 0.3s ease;
}

/* ha azokra a hivatkozásokra visszük a kurzort... */
.navbar-link:hover {
    color: #f77062;
    transition: all 0.3s ease;
}

/* A "Játsz!" gomb listaeleme a navbarban */
.navbar-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}

/* A "Játsz!" gomb a navbarban */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #f77162;
    color: #fff;
    transition: all 0.3s ease;
}

/* ha arra a "Játsz!" gombra visszük a kurzort... */
.button:hover {
    background-color: #4837ff;
    transition: all 0.3s ease;
}

/* reszponzivitás */
@media screen and (max-width: 960px) {
    .navbar-container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0px;
    }

    .navbar-menu {
        background-color: #131313;
        display: grid;
        grid-template-columns: auto;
        margin: 0px;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar-menu.active {
        background-color: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh; /* 50vh = az képernyő 50 százaléke */
        font-size: 1.6rem; 
    }

    #navbar-logo {
        padding: 25px;
    }

    .navbar-toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: #fff;
    }

    .navbar-item {
        width: 100%;
    }

    .navbar-link {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar-button {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0px;
    }

    .navbar-toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* ******* */
/* Oldal első szekciójának dizájnja */
/* ******* */

.main {
    background-color: #131313;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    height: 90vh;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 50px;
    padding-right: 50px;
}

.main-content h1 {
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main-content h2 {
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ffb199 0%, #ff0844 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main-content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.main-button {
    font-size: 1rem;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 32px;
    padding-right: 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main-button a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main-button::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0px;
    height: 100%;
    background-color: #4837ff;
    transition: all 0.35s;
    border-radius: 4px;
}

.main-button:hover {
    color: #fff;
}

.main-button:hover::after {
    width: 100%;
}

.main-image-container {
    text-align: center;
}

#main-image {
    height: 80%;
    width: 80%;
}

/* reszponzivitás */
@media screen and (max-width: 768px) {
    .main-container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        height: 90vh;
    }

    .main-content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main-content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main-content h2 {
        font-size: 3rem;
    }

    .main-content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .main-content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main-content h2 {
        font-size: 2rem;
    }

    .main-content p {
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .main-button {
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 36px;
        padding-right: 36px;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        margin-left: 0px;
        margin-right: 0px;
    }
}